{% extends './default.html' %}

{% block content %}
<div class="post">
  <header class="post-header mb2">
    <h1> {{ title }}</h1>
    <span class="post-meta">{{ date | date('M j, Y') }}</span><br>
    <span class="post-meta small">
    {% for tag in tags %}<a href="{{baseUrl}}/tags/{{tag | replace(' ', '-')}}" title="{{tag}}">{{tag}}</a>{% if !loop.last %}, {% endif %}{% endfor %}
    </span>
    <img src="{{imgUrl}}" alt="bilde"/>
  </header>
  <article class="post-content py2">
  {{contents | safe}}
  </article>
</div>
{% endblock %}
